
.align {  
    width: 1090px;
    margin:auto;
}

/* 头部开始 */

.header {
    height: 176px;
    border-bottom: solid 1px #ccc;
    box-shadow: darkgrey 0px 0px 4px 1px;
}


/* 页头开始 */

.title {
    height: 36px;
    background: #333;
}

.title-main {
    width: 1090px;
}

.title-right {
    padding-right: 10px;
    border-right: 1px solid #ccc;
    height: 12px;
}

.title-li li {
    z-index: 12;
    float: left;
    color: #ccc;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 12px;
    position: relative;
    cursor: pointer;
}

.title-li li i {
    font-size: 12px;
    color: white;
    position: absolute;
    top: 14px;
    left: 20px;
    display: none;
}

.title-li-erul {
    width: 83px;
    height: 125px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    top: 24px;
    left: -10px;
    display: none;
}

.title-li-erul li {
    display: block;
    margin: 0 13px;
    color: #999;
    box-sizing: border-box;
    line-height: 38px;
    text-align: center;
    border-top: 1px solid #ddd;
    white-space: nowrap;
    cursor: pointer;
    width: 50px;
}

.title-li li span {
    font-size: 12px;
    color: #ccc;
}

.title-li li em {
    font-size: 12px;
    color: white;
}

.title-li li:hover {
    color: white;
}

.title-li-erul li:hover {
    color: #b4a078;
}

.topauto {
    margin-top: 12px;
    height: 15px;
}

.topauto span {
    color: #b4a078;
    font-size: 12px;
    margin: 3px 3px 0 0;
}

.topauto li {
    color: #b4a078;
    font-size: 12px;
    margin-bottom: 10px;
    text-decoration: underline;
    position: absolute;
    top: 12px;
    cursor: pointer;
}


/* 页头结束 */




/* 导航开始 */

.nav {
    height: 140px;
}

.nav-main {
    width: 1090px;
}

.form-search {
    border: 1px solid #b4a078;
    border-right: none;
    border-radius: 30px;
    width: 532px;
    height: 36px;
    padding: 0 0 0 17px;
    box-sizing: border-box;
    margin-top: 26px;
}

.form-search button {
    float: right;
    width: 90px;
    height: 35px;
    border: none;
    background-color: #B4A078;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    outline: none;
}

.form-search span {
    color: #ccc;
}

.form-search input {
    width: 400px;
    height: 30px;
    border: none;
    outline: none;
}

.search-show {
    margin-top: 65px;
    height: 18px;
    width: 444px;
    overflow: hidden;
    position: relative;
    padding-left: 10px;
}

.search-list {
    height: 400px;
    position: absolute;
    top: 0;
}

.search-show li {
    float: left;
    display: inline-block;
    color: #999;
    padding: 0 10px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 444px;
    font-size: 12px;
}

.search-ul {
    height: 18px;
    line-height: 18px;
    margin-bottom: 9px;
    font-size: 0;
}

.search-show ul li:last-child {
    border-right: none;
}

.shopcar {
    position: relative;
    margin-top: -56px;
    margin-left: 49px;
    float: right;
    z-index: 4;
}

.shopcarShow {
    position: relative;
    cursor: pointer;
    width: 134px;
    height: 38px;
    border: 1px solid #B4A078;
    border-radius: 19px;
    padding: 8px 0 8px 25px;
}

.shopcarShow span,
.shopcarShow em {
    color: #B4A078;
    font-size: 14px;
}

.shopcarShow i {
    color: white;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 17px;
}

.shopcarShow:hover {
    background: #ccc;
}

.navli {
    margin-top: 30px;
    position: relative;
}

.navli li {
    float: left;
    padding: 0 21px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.navli li a {
    padding: 4px 0;
    color: black;
}

.navli li .navli-a {
    color: #B4A078;
    border-bottom: 2px solid #B4A078;
}

.navli li a:hover {
    color: #B4A078;
    border-bottom: 2px solid #B4A078;
    text-decoration: none;
}

.navli-bor {
    border-left: 1px solid #ccc;
}

.navli-dl img {
    width: 50px;
    height: 50px;
    float: left;
}

.navli-dl span {
    font-weight: normal;
    font-size: 14px;
    float: left;
    line-height: 50px;
}

.navli-dl {
    z-index: 12;
    background-color: #fff;
    position: absolute;
    width: 1200px;
    top: 20px;
    left: -70px;
    display: none;
    cursor: default;
    color: black
}

.navli-dl dl {
    float: left;
    padding: 0 22px;
}

.navli-dl dl dd {
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
}

.navli-dl dl dt {
    cursor: pointer;
}

.navli-dl dl dt:hover {
    color: #B4A078;
}

/* main  start */
 




.main{
    padding-bottom:40px; 
}

/* .GoodSbox{
    border: 1px solid #ddd;
    margin-bottom: 10px;
} */
















/* 商品列表  star*/
.product-box {
    border: 1px solid #ddd;
    margin-bottom: 10px;
   min-height: 140px;
    width: 1090px;
}

.PerItem {
    width: 1090px;
   min-height:140px;
    padding: 20px;
}

.inpUt_s {
    position: relative;
    height: 18px;
    width: 18px;
    display: inline-block;
    top: -38px;

}
.inpUt {
    position: relative;
    height: 18px;
    width: 18px;
    display: inline-block;
    top: 5px;

}

.cart-item {
    float: left;
    /* text-align: center; */
    position: relative;
    color: #999;
}

.hnkuai {
    display: inline-block;
}

.pe-title {
    padding-top: 10px;
    width: 400px;
    /* min-height: 100px; */
    padding-left: 140px;
    float: left;
}

.Per-img {
    height: 98px;
    width: 98px;
}

.Per-img-c {
    position: absolute;
    float: left;
}

.per-price {
    padding-top: 10px;
    float: left;
    text-align: center;
    position: relative;
    color: #333;
    width: 230px;
    height: 34px;
}

.per-opr {
    padding-top: 10px;
    float: left;
    position: relative;
    color: #333;
    width: 80px;
    height: 34px;
}


/* 加减组件 css样式 */

.button_btn {
    margin-top: 15px;
    float: left;
    border: 1px solid #ddd;
    overflow: hidden;
    /* height: 24px; */
    width: 106px;
}

.button_btn>input {
    height: 24px;
    width: 48px;
    display: inline-block;
    border: 0;
    font-size: 12px;
    text-align: center;
    color: #333;
    outline: none;
}

.button_btn>span {
    line-height: 22px;
    text-align: center;
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.button_w {
    width: 170px;
}



.btn_tt{
    background-color: #fff;
    width: 28px;
    height: 24px;
    cursor: pointer;
    outline: none;
    border: 1px solid #fff;

}

/* 加减组件 css样式 end */

.PerItem a {
    font-size: 14px;
    text-decoration: none;
}

.PerItem a:hover {
    color: #b4a078;
}

.PerItem .pe-title-a a i,
.PerItem .pe-title-a a {
    color: #999;
    line-height: 16px;
    font-size: 12px;
}

.red {
    color: #d4282d;
    font-size: 14px;
}

.rgb {
    color: #333;
    font-size: 14px;
}

/* 商品列表 end */


/* main :end */

/* 小组件开始 */

.ticKet {
    z-index: 12;
    background-color: #fff;
    width: 1090px;

}

.ticKet_b {
    margin-top: 14px !important;
    border: 1px solid #ddd;
    width: 1090px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin-bottom: 20px !important;
}

.ticKet_qu {
    color: rgb(187, 40, 40);
    font-size: 28px;
    padding: 0 10px;
    float: left;
}

.ticKet button {
    text-decoration: none;
    border: none;
    background-color: #E36844;
    height: 38px;
    width: 90px;
    outline: none;
    color: #fff;
    cursor: pointer;
    float: right;
}

.fixed {   
    /* z-index: 10; */
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50px;
    height: 28px;
    display: block !important;
   
}

.divhr {
    z-index: 10;
    background-color: #fff;
    height: 41px;
    border-bottom: 2px solid #ddd;
    width: 100%;
    display: none;
}



  











.title_tt {
    margin-bottom: 20px !important;
    padding: 12px 0;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    height: 46px;
    width: 1090px;
    font-size: 13px;

}

.title_tt li {
    float: left;

}

.title_t1 {
    padding-left: 20px;
    width: 139px;
    height: 20px;
}

.title_t2 {
    width: 290px;
    height: 20px;
    text-align: left;
}

.title_t3 {
    width: 180px;
    height: 20px;
    text-align: center;
}

.title_t4 {
    width: 103px;
    height: 20px;
    text-align: right;
    margin-right: 30px;
}

.title_t5 {
    width: 100px;
    height: 20px;
    text-align: left;
    padding-left: 60px;
}

.title_ticket {
    margin-bottom: 10px;
    width: 1090px;
    height: 43px;
    border: 1px solid #ddd;
    background-color: #fffbf0;
    margin-bottom: 10px;
}

.title_ti {
    line-height: 43px;
    /* background-color: #fffbf0; */
    /* width: 1090px; */
    /* height: 43px; */
    /* padding-left: 60px;
    padding-right: 30px;         */
    /* border: 1px solid #ddd; */
    /* margin-bottom: 10px; */
}

.title_ti a {
    width: 66px;
    display: inline-block;
    border: 1px solid #d4282d;
    color: #d4282d;
    height: 22px;
    line-height: 22px;
    text-align: center;
    margin-right: 20px;
}

.title_ti>dl>dd {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #fff;
    padding: 0 5px;
    font-size: 12px;
    background-color: #e36844;
    margin-top: 12px;
    margin-left: 60px;
    margin-right: 30px;

}

.title_ti span {
    font-size: 14px;
    color: #69c;
    cursor: pointer;
}

.ti_dt {
    line-height: 42px;
    color: #666;
    font-size: 14px;
    margin-right: 20px;
}

/* 小组件结束 */



/* 下单组件 start */


.fixed_order {   
    z-index: 10;
    position: fixed !important;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;   
    display: block !important;
   
}

.order {
    width: 1090px;
    height: 70px;
    font-size: 14px;
    position: relative;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    height: 70px;
}

.lin-heiGht {
    line-height: 70px;
}

.ulst_t {
    padding-left: 20px;
    /* width: 290px;
    height: 22px; */
} 
 .ulst_t li {
    padding: 0 5px;
}

.money_p {
    color: #999;
    line-height: 25px;
    margin-top: 10px;
    border-right: 1px solid #ccc;
    padding: 0 30px;
    width: 250px;
}

.money_p>ul>li>span {
    float: right;
}

.money_p_b {
    line-height: 25px;
    margin-top: 10px;
    padding: 0 30px;
    width: 231px;
}

.btn {
    border-radius: 0;
    width: 140px;
    height: 71px;
    margin-top: -1px;
    margin-right: -1px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    border: 1px solid #b4a078;
    background-color: #b4a078;
    cursor: pointer;
    outline: none
}

.btn:hover {
    color: #fff;
    border: 1px solid #c0ae8a;
    background-color: #c0ae8a;
}

.money_p_b span {
    font-weight: 700;
    color: #BE4141;
    font-size: 22px;
    line-height: 22px;
    float: right;


}

.money_p_b a {
    color: #d3282d;
    float: right;
}

/* 下单组件end */



/* 猜你喜欢 css */
.shop_box {
    width: 1090px;
    height: 363px;
    border: solid #ccc 1px;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 60px;
}

.left_btn,
.right_btn {
    z-index: 9;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
    background-color: rgb(241, 193, 138);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}

.left_btn {
    left: 10px;
}

.right_btn {
    right: 10px;
}

.left_btn i,
.right_btn i {
    color: #fff;
}

.shop_box_nei {
    margin: auto;
    height: 288px;
    width: 960px;
    overflow: hidden;
    /* float: left; */
}


.shop_title {
    height: 44px;
    padding-left: 22px;
    width: 1090px;
    background-color: #f5f5f5;
    overflow: hidden;
    line-height: 44px;
}

.shop_title>h3 {
    padding-left: 22px;
    font-size: 17px;
    font-weight: 600;
    color: #666;
}

.shop {
    width: 210px;
    height: 279px;
    /* border: solid #ccc 1px; */
    text-align: center;
    cursor: pointer;
    float: left;
    margin-right: 30px;
}

/* 220.5×220.5 */

.shop_img {
    width: 210px;
    height: 210px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.shop_img>img {
    display: inline-block !important;
    vertical-align: middle;
}

.shop:hover img {
    transform: scale(1.05);
    transition: 1s;

}

.shop_img>span {
    vertical-align: middle;
    width: 0;
    height: 100%;
    display: inline-block;
}

.shop_jia>span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #fff;
    padding: 0 5px;
    font-size: 12px;
    background-color: #e36844;
}

.shop_h {
    text-align: center;
    margin: auto;
}

.shop_h:hover {
    color: peru;
    cursor: pointer;
}

.shop_h>h6 {
    margin-top: 5px;
    display: inline-block;
    width: 180px;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
 
}

.shop_price>span {
    color: #d4282d;
    text-align: center;
    font-size: 13px;
}

.shop_price i {
    color: peru;
    font-size: 15px;
}

.shop_price>a {
    text-align: center;
    line-height: 20px;
    height: 20px;
    width: 20px;
    display: inline-block;
    background-color: rgb(255, 234, 208);
    border-radius: 50%;
}

.box_b {
    position: relative;
    width: 1920px;
}

/* 猜你喜欢 end */





/* 底部start */


.footer {
    height: 549px;
}

.foot {
    height: 300px;
    border-top: 1px solid #e8e8e8;
}

.foot {
    padding-top: 60px;
    padding-bottom: 34px;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
    box-sizing: border-box;
    font-size: 12px;
}

.foot-cp {
    width: 33.33333%;
    height: 204px;
    float: left;
    border-left: 1px solid #e9e9e9;
    line-height: 1.5;
    font-family: "Microsoft Yahei", "微软雅黑", verdana;
    color: #333;
    text-align: center;
    padding: 0 37px;
}

.btn_bt {
    text-align: center;
    display: inline-block;
    width: 80px;
    height: 100px;
    background-color: #fff;
    padding-top: 25px;
    border: 1px solid #E8E8E8;
    margin-left: 29px;
    line-height: 26px;
    cursor: pointer;
}

.foot-cp a {
    text-decoration: none;
    font-size: 14px;
    color: #333;
}

.foot-cp a:hover,
.foot-cp a:hover i {

    color: #b4a078;
}

.foot-cp a:hover i {
    padding: 2px;
}

.foot-cp a i {
    font-size: 32px;
    color: #999;
}

.foot-cp h4 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
    line-height: 1;
    color: #333;
}

.foot-cp>img {
    display: inline-block;
    width: 104px;
    height: 104px;
}

.p_mp {
    color: #b4a078;
    font-size: 12px;
    margin-top: 3px;
}

.spAn {
    margin-right: 15px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 32px;
}

.spa {
    color: #16ac84;
}

.spb {
    color: #4bb341;
}

.spc,
.spb,
.spa {
    cursor: pointer;
    font-size: 21px;
    margin-right: 12px;
}

.spc {
    color: #e42f36;
}

.ulst>li {
    list-style: none;
}

.ulst>li>span {
    margin-right: 17px;
    float: left;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid #fff 2px;
}

.ulst>li {
    width: 200px;
    margin: 0 70px 0px 0px;
    float: left;
    line-height: 51px;
    height: 51px;
}

.ulst>li>span>i {
    font-size: 30px;
    color: #fff;
}

.ulst>li>em {
    float: left;
    display: inline-block;
    height: 51px;
    color: #fff;
    font-size: 18px;

    font-style: normal;

}


.footend {
    height: 250px;
    padding-top: 37px;
    background-color: #414141;
}

.ulst {
    display: inline-block;
    height: 80px;
    border-bottom: solid #4f4f4f 1px;
    margin-bottom: 24px;
}


.footerend {
    height: 78px;
}

.footer_div {
    height: 18px;
    text-align: center;
    color: #777777;
    font-size: 12px;
}

.footer_div>a {
    text-decoration: none;
    color: #777777;
}

.footer_div>a:hover {
    color: #fff;

}

.footer_div>img {
    display: inline-block;
    width: 20px;
    height: 21px;
}
.footer_div>i {
    font-size: 12px;
    /* background-color: #cdcdcd */
}
/* 底部end */

