.topNav{
    width: 100%;
    height: 50px;
    background: white;
    border-bottom: 1px solid darkgrey;
    box-shadow: darkgrey 0 0 10px 0;
    position: fixed;
    top: -50px;
    left: 0;
    z-index: 50;
}
.scrollNav{
    width: 1090px;
    margin: 0 auto;
    position: relative;
}
.scroll-dl{
    left: -170px;
    right: auto;
    top: 39px;
}
.scroll-dl dl{
    float: left;
    margin-right: 20px;
    width: 124px;
}

.scroll-dl dl dd{
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
}

.scroll-dl dl dt{
    cursor: pointer;
}

.scroll-dl dl dt:hover {
    color: #B4A078;
}
.scrollNavLogo{
    position: absolute;
    top: 12px;
    left: 5px;
    z-index: 1;
    display: block;
    width: 90px;
    height: 30px;
    background: url(../images/scrollNav.png) center left;
    background-position:  0 238px;
}

.scroll-dl img{
    height: 50px;
    display: inline-block;
    float: left;
}

.scroll-dl span{
    font-weight: normal;
    font-size: 14px;
    float: left;
    line-height: 50px;
    display: inline-block;
}

.scroll-dl {
    position: absolute;
    width: 1202px;
    display: none;
    cursor: default;
    color: black;
    background: white;
    z-index: 30;
    padding: 14px 20px 20px;
}
.scroll-ul{
    top: 11px;
    left: 126px;
    bottom: auto;
    width: 838px;
    position: absolute;
}
.scroll-li{
    padding: 6px 21px;
}
.scroll-li-f{
    color: #B4A078;
    border-bottom: 3px solid #B4A078;
    text-decoration: none;
}
.scroll-li:hover {
    color: #B4A078;
    border-bottom: 3px solid #B4A078;
    text-decoration: none;
}
.scroll-ul li{
    float: left;
    margin-top: 7px;
    margin: 0 17px;
    padding: 8px 0;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
.scrollNavSearch,.scrollNavLogin,.scrollNavShop{
    cursor: pointer;
    float: right;
    line-height: 36px;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    background: url(../images/scrollNav.png);
    margin:21px 15px; 
}
.scrollNavSearch{
    width: 20px;
    height: 20px;
    background-position:  0 -366px;
}
.scrollNavSearch:hover{
    background-position:  0 -336px;
}
.scrollNavLogin{
    width: 20px;
    height: 20px;
    position: relative;
    background-position:  0 -488px;
}
.scrollNavLogin:hover{
    background-position:  0 -456px;
}
.scrollNavShop{
    width: 24px;
    height: 24px;
    background-position:0 -142px;
    position: relative;
}
.scrollNavShop:hover{
    background-position:0 -80px;
}
.scrollNavShop i{
    position: absolute;
    height: 19px;
    width: 19px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    background: url(../images/scrollNav.png);
    background-position: 0 -51px;
    top:-10px;
    left: 15px;
}
.scrollSearch{
    position: absolute;
    right: 155px;
    top: 20px;
    display: none;
}
.scrollSearch button{
    position: absolute;
    top: 1px;
    right: 270px;
    border: none;
    background: white
}
.scrollSearch button:hover{
    color: #D8CEBC;
}
.scrollSearch input{
    right: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    display: block;
    height: 22px;
    line-height: 22px;
    border: 0;
    border-bottom: 1px solid #D8CEBC;
    font-size: 12px;
    width: 252px;
    outline: 0;
    overflow: hidden;
    background: 0 0;
    border-radius: 0;
    padding-left: 10px;
}
.scrollNavLogin-erul{
    width: 83px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    display: none;
    z-index: 5;
}
.scrollNavLogin-erul{
    top: 28px;
    left: -27px;
}
.scrollNavLogin-erul li{
    display: block;
    margin: 0 13px;
    color: #999;
    box-sizing: border-box;
    line-height: 38px;
    text-align: center;
    border-top: 1px solid #ddd;
    white-space: nowrap;
    cursor: pointer;
    width: 50px;
}
.scrollNavLogin i{
    font-size: 12px;
    color: white;
    position: absolute;
    top: 8px;
    left: 5px;
    display: none;
}
.scrollNavLogin-erul li:hover{
    color: #b4a078;
}



/* 登陆注册css */


.login_box_body {
    z-index: 1170;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(000, 000, 000, 0.7);
    display:none;
}

.login_box {
    position: fixed;
    width: 384px;
    height: 400px;
    background-color: #fff;
    border: #fff solid 1px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.login_title_t {
    padding-top: 58px;
    text-align: center;
    color: #333;
    font-size: 18px;
    margin: auto;
    line-height: 18px;
    width: 290px;
    /* overflow: hidden; */
    position: relative;
}

.login_title_left {
    float: left;
    cursor: pointer;

}

.login_title_right {
    float: right;
    cursor: pointer;
}

.login_t_result {
    color: #999;
}

.login_t_result:hover {
    color: #b4a078;
}

.login_title_t span {
    font-size: 25px;
    color: #ccc;
}

.title_span {
    position: absolute;
    right: 0px;
    font-size: 30px;
    right: -44px;
    font-size: 30px !important;
    top: 10px;

}

.title_span:hover {
    color: #999;
    cursor: pointer;
}

.login_nei_box {
    width: 304px;
    height: 314px;
    /* border: #999 solid 1px; */
    margin: 20px 40px 83px;
}

.login_nei_mima {
    height: 26px;
    float: right;
    font-size: 12px;
    color: #666;
    cursor: pointer;
    /* background: #b4a078; */
}

.login_nei_mima:hover {
    color: #b4a078;
}

.login_input_box {
    margin-top: 15px;
    width: 294px;
    height: 38px;
    border: 1px solid #e8e8e8;
    line-height: 36px;
    border-radius: 2px;
    padding-left: 10px;
    overflow: hidden;
}

.login_input {
    /* float: right; */
    width: 203px;
    height: 38px;
    border: none;
    outline: none;
    /* margin-left: 10px */
}

/* .login_input_box span{
    color: #666;
    font-size: 20px;
} */

.login_input_box>span>i {
    color: rgb(199, 199, 199);
    font-size: 23px;
}

.login_input_btn>button {
    margin-top: 40px;
    display: block;
    width: 100%;
    height: 48px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #b4a078;
    font-size: 18px;
    line-height: 48px;
    border-radius: 2px;
    outline: none;
    border: none;
}

.login_input_btn>button:hover {
    background: #b8a683;
}

.login_dl_footer {
    height: 60px;
    background: #F5F3EF;
    overflow: hidden;
    width: 384px;
    bottom: -1px;
    left: -1px;
    position: absolute;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.login_dl_footer>span {
    cursor: pointer;
    padding-left: 15px;
    color: #999;
    font-size: 25px;
}

.login_dl_footer>span:hover,
.login_dl_footer>a:hover {
    color: #b4a078;
}

.login_dl_footer>a {
    text-decoration: none;
    color: #999;
    font-size: 12px;
    float: right;
    padding-left: 10px
}

.login_tishi_t {
    padding: 10px;
    font-size: 13px;
}

.input_del {
    color: rgb(209, 208, 208) !important;
    font-size: 14px !important;
    height: 20px;
    width: 20px;
    line-height: 21px;
    text-align: center;
    background-color: rgb(224, 224, 224);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

}

.input_del_account {
    display: none;
}

.input_del_pwd,
.input_change {
    display: none;
}




/* 购物车图标组件 */

.shopcar {
    position: relative;
    margin-top: -56px;
    margin-left: 49px;
    float: right;
    z-index: 4;
    padding-bottom: 20px;
}

.shopcarShow {
    position: relative;
    cursor: pointer;
    width: 134px;
    height: 38px;
    border: 1px solid #B4A078;
    border-radius: 19px;
    padding: 8px 0 10px 25px;
}

.shopcarShow span,
.shopcarShow em {
    color: #B4A078;
    font-size: 14px;
}

.shopcarShow .i-1 {
    color: white;
    font-size: 13px;
    text-align: center;
    display: inline-block;
    background: #d4282d;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 17px;
}

.shopcarShow:hover {
    background: #ccc;
}

.shopcar .adddet {
    position: absolute;
    right: 0px;
    top: 40px;
    z-index: 1;
    padding-top: 10px;
    padding-right: 10px;
    overflow: visible;
    display: none;

}

.adddet-c {
    position: relative;
    width: 330px;
    height: 328px;
    border: 1px solid #b5a176;
    border-top: 2px solid #d7ccb6;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    /* overflow: auto; */
}

.adddet-c .em2,
.adddet-c .em1 {
    position: absolute;
    right: 40px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

}

.adddet-c .em2 {
    top: -6px;
    border-bottom: 8px solid #fff;
}

.adddet-c .em1 {
    top: -8px;
    border-bottom: 8px solid #d7ccb6;

}

.pop {
    overflow: auto;
    height: 250px;
}

.detlist {
    height: 70px;
    /* padding: 0 0 10px 15px; */
    background-color: #fff;
}

.detlist-left {

    background: #f4f4f4;
    cursor: pointer;
    text-align: center;
    margin-top: 14px;
    float: left;
    margin-left: 13px;
}

.detlist-left img {
    vertical-align: middle;
    display: inline-block;
    width: 60px;
}

.detlist-left span {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.detDescribe .p-2 {
    height: 20px;
    margin-top: 27px;
}

.detDescribe {
    position: relative;
    float: left;
    font-size: 14px;
    cursor: pointer;
    margin-top: 25px;
    /* padding: 12px 0 10px; */

    height: 50px;
    /* line-height: 45px; */
    /* margin-top: 20px; */

    margin-left: 10px;
}

.detDescribe .p-1 {

    float: left;
    display: inline-block;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
}



.detDescribe .detN,
.detDescribe .detNum {
    float: left;
    display: inline-block;
    color: #ccc;
    font-size: 11px;
    height: 20px;

}

.detDescribe .p-1 i {
    text-align: right;
    font-size: 11px;
    color: #b62628;
    line-height: 11px;
    float: left;
    width: 50px;
    height: 20px;

}

.detDescribe .span-0,
.detDescribe .i-2 {

    font-size: 12px;
    float: left;
    color: #b62628;
}

.del-det {
    width: 20px;
    height: 20px;
    float: right;
}

.del-det i {
    display: inline-block;
    background-position: 0 -40px;
    height: 10px;
    width: 11px;
    background-image: url("./del.png");
    margin-top: 31px;
    cursor: pointer;
    margin-left: -10px;
}

.to-shopC {
    height: 66px;
    background-color: #f4f0ea;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.to-shopC .total-left {
    margin: 13px 0 0 15px;
}

.to-shopC .total-left .total-dat {
    color: #999;
    font-size: 14px;

}

.to-shopC .total-left .total-prices {
    color: #BE4141;
    font-size: 14px;
    /* margin-top: -8px; */
}

.total-prices span {
    color: #BE4141;
}

.total-right {
    float: right;
    width: 110px;
    margin-right: 30px;
    height: 36px;
    line-height: 36px;
    margin-top: 15px;
    font-size: 12px;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    border: 1px solid #b4a078;
    background-color: #b4a078;

}


.total-right:hover {
    color: #fff;
    border: 1px solid #c0ae8a;
    background-color: #c0ae8a;
}